[project]
	description = networkdiagrams
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shanika (shanika)
[access "refs/for/refs/*"]
	read = group user/Shanika (shanika)
	push = group user/Shanika (shanika)
	label-Code-Review = -2..+2 group user/Shanika (shanika)
	label-Verified = -1..+1 group user/Shanika (shanika)
	rebase = group user/Shanika (shanika)
	removeReviewer = group user/Shanika (shanika)
	submit = group user/Shanika (shanika)
[access "refs/heads/*"]
	read = group user/Shanika (shanika)
	create = group user/Shanika (shanika)
	push = +force group user/Shanika (shanika)
	pushMerge = group user/Shanika (shanika)
[access "refs/tags/*"]
	push = +force group user/Shanika (shanika)
	pushTag = group user/Shanika (shanika)
	pushSignedTag = group user/Shanika (shanika)
