
/***BOTSTRAP****/
.btn{
 border-radius:0px !important;	
}
.input-group-addon{
 border-radius:0px !important;	
}
.panel{
}
.tooltip-inner{
 border-radius:0px !important;
 padding:10px !important;
 padding-top:5px !important;
 padding-bottom:5px !important;
font-family: 'Lato', sans-serif !important;
 font-weight: 300 !important;
 font-size:14px !important;
 color:#b0b0b0 !important;
}
/********/

.highlight, .highlight tspan{
    color: #26B4A8 !important;
}
text.highlight tspan{
    fill: #26B4A8 !important;
}

.blackgradient{
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgb(47,48, 50)), color-stop(1.0, rgb(31, 32, 33)));
    background-image: -webkit-linear-gradient(top, rgb(47, 48, 50),rgb(31, 32, 33));
    background-image: -moz-linear-gradient(top, rgb(47, 48, 50),rgb(31, 32, 33));
    background-image: -ms-linear-gradient(top, rgb(47, 48, 50),rgb(31, 32, 33));
    background-image: -o-linear-gradient(top, rgb(47, 48, 50),rgb(31, 32, 33));
    background-image: linear-gradient(top, rgb(47, 48, 50), rgb(31, 32, 33));
}


.panetitle {
  position: fixed;
  height: 30px;
  width: 200px;
  top:80px;
  border-bottom: 1px solid #222222;
  border-top: 1px solid #111111;
  font-weight: 300;
  font-size: 12px;
  padding-top: 5px;
  letter-spacing: 5px;
  text-transform:uppercase;
  text-align: center;
  -webkit-box-shadow: 0 2px 5px -2px #000000;
  -moz-box-shadow: 0 2px 5px -2px #000000;
  box-shadow: 0 2px 5px -2px #000000;
}

.panetitle:after, .panetitle:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 10px solid transparent;
    left: 50%;
    position: absolute;
}

.panetitle:after {
    border-width: 10px;
    border-top-color: rgb(31, 32, 33);
    top:29px;
    margin-left: -10px;
}

.panetitle:before {
    border-width: 11px;
    border-top-color: #111111;
    top:29px;
    margin-left: -11px;
}


body{
 overflow:hidden;
 font-family: 'Lato', sans-serif !important;
 font-weight: 300;
}

#splash {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  color: #fff;
  background: #ffffff;
  width: 450px;
  height: 300px;
  margin: -150px 0 0 -300px;
  text-align: center;
  -webkit-box-shadow: 5px 5px 21px 0px rgba(50, 50, 50, 0.45);
  -moz-box-shadow:    5px 5px 21px 0px rgba(50, 50, 50, 0.45);
  box-shadow:         5px 5px 21px 0px rgba(50, 50, 50, 0.45);
  background-image: url(../splash.png);
}

#splash div {
 font-family: 'Lato', sans-serif;
 position:absolute;
 width: 450;
 padding-top: 220;
 color: #31c3c7 !important;
}

#test_code{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:10000;
    overflow:scroll;
}

#test_canvas{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:white;
	z-index:10000;
}
#test_close{
	position:fixed;
	right:10px;
	top:10px;
	width:32px;
	height:32px;
	border:1px solid #f0f0f0;
	z-index:10000;
	cursor:pointer;
}

input{
 background: none repeat scroll 0 0 #f8f8f8;
 border-color: #C6C6C6 #DADADA #EAEAEA;
 border-radius: 4px 4px 4px 4px;
 -moz-box-sizing: border-box;
 padding-left:7px;
 border-style: solid ;
 border-width: 1px;
 vertical-align: middle;
 height:25px;
 font-size:14px;
 line-height:25px;
}


#canvas {
 padding:0px;
 margin:0px;
 border:0px;
position: absolute;
top: 80px;
right: 200px;
left: 200px;
bottom: 0px;
overflow: scroll;
background-color:#FFFFFF;
}

#canvas_zoom{
position: fixed;
bottom: 20px;
right: 220px;
background-color:transparent;
}

#canvas_zoom button {
 background-color:transparent;
 font-weight:300px;
 padding:5px;
 padding-left:10px;
 padding-right:10px;
 border:1px solid transparent;
}

#canvas_config{
 position: fixed;
 font-size:20px;
 top:85px;
 left:205px;
 cursor:pointer;
}
#canvas_config_items{
 position: fixed;
 top:105px;
 left:205px;
 cursor:pointer;
 padding:10px;
 white-space:nowrap;
}


#canvas_ruler_top{
   border: 1px solid #000000;
   height: 20px;
   left: 200px;
   position: fixed;
   top: 80px;
   width: 100%;
}

#layer{
 padding:0px;
 margin:0px;
 border:0px;
 position:absolute;
 top:80px;
 left:0px;
 bottom:0px;
 width:200px;
 background-color : #1E1E26;
 text-align: center;
}

#layer_elements{
 padding:0px;
 margin:0px;
 border:0px;
 position:fixed;
 top:110px;
 left:0px;
 bottom:0px;
 width:200px;
 overflow:scroll;
}

#toolbar{
 margin:0px;
 padding-top:10px;
 padding-right:10px;
 top:0px;
 left:0px;
 height:80px;
 width:100%;
 overflow: visible !important;
 z-index:1000 !important;
 border: 0 none;
 border-radius: 0;
 border-bottom:1px solid #d6d6d6;
background-color: #E9E9E9 !important;
background-image: none;
}

.toolbarGroup{
  background-image:none !important;
  background-color: transparent !important;
  border: none  !important;    
}


#tool_shape_caret{
    border-top:20px solid transparent;
    border-bottom:10px solid transparent;
    border-right:4px solid transparent;
    border-left:2px solid transparent;
}

#tool_shape_caret >span{
  margin-top:21px;  
}

.tool_shape_entry {
  text-align:left;  
}

#currentTool_container{
 margin:0px;    
 position:absolute;
}

#currentTool_heading{
 width:300px;   
 font-family: 'Lato', sans-serif;
}

#currentTool_image{
  border-right: 1px solid gray; 
}

#currentTool_message{
 font-size:12px;
 color:#444444;    
 font-family: 'Lato', sans-serif;
}

// Block level inputs
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;        // Make inputs at least the height of their button counterpart
  .box-sizing(border-box); // Makes inputs behave like true block-level elements
}

#toolbar .btn:focus,
#toolbar .btn-default,
#toolbar .btn-group,
#toolbar .btn {
  padding:4px;
  background-image: none !important;
  background-color: transparent !important;
  border:1px solid transparent !important;
  box-shadow:none !important;
}

#canvas_zoom button:hover ,
#toolbar .btn:hover{
  border:1px solid #26B4A8  !important;	
}


#toolbar .btn.active {
  border:1px solid #26B4A8  !important; 
}

#filter {
 position:absolute;
 top:80px;
 right:0px;
 bottom:0px;
 width:200px;

 padding:0px;
 margin:0px;
 border-radius:0px;
 border:0px;
 background-color : #1E1E26;
 background-image:none;
}

#filter .panel-default {
margin: 0px;
border-radius: 0px;
margin: 0px;
border-radius: 0px;
background-color: #26262F;
border: 0px;
border-top: 1px solid #303030;
border-bottom: 1px solid #202525;
}

#filter_toolbar{
 position:fixed;
 overflow:visible;
 border:0px;
 padding:3px;
 padding-left:10px;
 position:absolute;
 bottom:0px;
 right:0px;
 width:200px;
 height:30px;
}

.filter-heading{
  color: #909090 !important;
  font-size: 12px;
  padding-right:10px !important;
  padding-top:1px !important;
  padding-bottom:0px !important;
color: #909090 !important;
font-size: 12px;
background-color: transparent !important;
background-image: none !important;
border: 0px !important;
}

#filter_actions{
 position:fixed;
 top:110px;
 bottom:30px;
 width:200px;
 border:0px;
 padding:0px;
 overflow:scroll;
}


#filter_actions .panel-body{
  padding:7px !important;
}

#filter_actions > .panel{
  margin-bottom: 8px;
  border-left: 3px solid #26B4A8;
}

#filter_actions .form-group{
  margin-bottom: 2px !important;
}

#filter_actions .glyphicon {
    top: -5px;
    color: #26B4A8;
}

#filter_actions .form-group > .input-group{
   margin-bottom: 10px;
}

#filter_actions .form-group > .input-group:last-child{
   margin-bottom: 0px;
}


.control-label{
 font-family: 'Lato', sans-serif;
 font-weight: 300;
}

.toolbar_union{
 background-image: url(../icons/toolbar_union.png) !important;
 background-repeat:no-repeat;
 background-position:3px !important;
 width:55px;
 height:48px;
}

.toolbar_difference{
 background-image: url(../icons/toolbar_difference.png) !important;
 background-repeat:no-repeat;
 background-position:3px !important;
 width:55px;
 height:48px;
}
   
.toolbar_intersect{
 background-image: url(../icons/toolbar_intersect.png) !important;
 background-repeat:no-repeat;
 background-position:2px !important;
 width:55px;
 height:48px;
}
   

/******************************************************************
 * Einstellungen der PropertyViews im Editmodus der "Form".
 ******************************************************************/

.toolbar_delimiter {
  margin-left:10px;
}


.tool_rectangle{
 background : transparent url(../icons/rectangle.png) no-repeat;
}
.tool_triangle{
 background : transparent url(../icons/triangle.png) no-repeat;
}

.palette_node_element{
 width:48px;
 height:48px;
 cursor:move;
 margin: 10px auto 10px auto;
 align:center;
}

.layerElement{
 cursor:move;
 text-align:left;
 padding:4px;
 padding-left:20px;
 color:white;
 font-weight:300;
 letter-spacing:2px;
}

.layerElement img{
    cursor:pointer;
    padding-top:4px;
    padding-right:4px;
}

.layerSelectedElement{
color:white;    
 padding:4px;
 padding-left:20px;
background: #acafb7; /* Old browsers */
background: -moz-linear-gradient(top, #acafb7 1%, #45484f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#acafb7), color-stop(100%,#45484f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #acafb7 1%,#45484f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #acafb7 1%,#45484f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #acafb7 1%,#45484f 100%); /* IE10+ */
background: linear-gradient(to bottom, #acafb7 1%,#45484f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#acafb7', endColorstr='#45484f',GradientType=0 ); /* IE6-9 */


  /***  CSS Gradient  ***/
  /*  Chrome 1-9 and Safari 4-5.0  */
  background-image: -webkit-gradient(linear, left top, left bottom,
        color-stop( 0.0, rgb(39, 109, 177) ),
        color-stop( 1.0, rgb(47, 131, 215) ));

  /*  Chrome 10+ Safari 5.1+ Mobile Safari  */
  background-image: -webkit-linear-gradient(top,
        rgb(39, 109, 177), 
        rgb(47, 131, 215) );

  /*  Firefox 3.6+  */
  background-image: -moz-linear-gradient(top,
        rgb(39, 109, 177), 
        rgb(47, 131, 215) );

  /*  IE 10+  */
  background-image: -ms-linear-gradient(top,
        rgb(39, 109, 177), 
        rgb(47, 131, 215) );

  /*  Opera 11.10+  */
  background-image: -o-linear-gradient(top,
        rgb(39, 109, 177), 
        rgb(47, 131, 215) );

  /*  W3C  */
  background-image: linear-gradient(top,
        rgb(39, 109, 177), 
        rgb(47, 131, 215) );

}



.shadow {
 -moz-box-shadow: 3px 3px 4px #000;
 -webkit-box-shadow: 3px 3px 4px #000;
 box-shadow: 3px 3px 4px #000;
 /* For IE 8 */
 -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
 /* For IE 5.5 - 7 */
 filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}