.mixit-list .mix{
	display: none;
	opacity: 0;
	vertical-align: top;
	margin-bottom: 10px;
	margin-right: 6px;
	text-align: left;
}
.mixit-list .mix.visible{
	display: inline-block;
	opacity: 1;
}
.mixit-list {
	list-style-type: none;
	/*text-align: justify;*/
	margin: 0 auto;
	max-width: 960px;
}
.mixit-list p {
	max-width: 300px;
}